@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 960px;
  padding: 0.75rem 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* Retira scroll da página(de fundo) ao abrir o modal */
.remove-scrolling {
  height: 100%;
  overflow: hidden;
}

.title {
  line-height: 1;
  position: relative;
  z-index: 1;
  font-weight: bold;
  letter-spacing: 0.025em;
}

.title::after {
  content: "";
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  background: #d8b4fe;
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.subtitle {
  line-height: 1;
  letter-spacing: 0.015em;
  font-weight: bold;
}

.subtitle:after {
  content: "";
  display: block;
  background: #d8b4fe;
  height: 0.35rem;
  width: 3rem;
  border-radius: 0.2rem;
}

.title3 {
  line-height: 1;
  letter-spacing: 0.015em;
  font-weight: bold;
}

.title3::before {
  content: "";
  display: block;
  background: #d8b4fe;
  height: 8px;
  width: 12px;
  /* border-radius: 0.2rem; */
}

.animeLeft {
  opacity: 0;
  transform: translateX(-30px);
  animation: animeLeft ease-in 0.5s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.hiddenSlowly {
  opacity: 1;
  animation: hiddenSlowly ease-in 0.5s forwards;
}

@keyframes hiddenSlowly {
  to {
    opacity: 0;
    display: none;
  }
}

.animeBottom {
  opacity: 0;
  transform: translateY(30px);
  animation: animeBottom ease-in 0.5s forwards;
}

@keyframes animeBottom {
  to {
    opacity: 1;
    transform: initial;
  }
}

@media (min-width: 480px) {
  .container {
    padding: 1.5rem;
  }
}

@media (min-width: 768px) {
  .title::after {
    width: 1.75rem;
    height: 1.75rem;
  }
}
