.nav {
  display: block;
  position: absolute;
  top: 160px;
  right: 8px;
  padding: 0 1rem;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;
  font-size: 0.875rem;
}

.navMobileActive {
  transition: 0.2s;
  transform: initial;
  opacity: 1;
  z-index: 100;
  pointer-events: initial;
}

.nav a,
.nav button {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  background: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e2e8f0;
  padding: 0.5rem 0;
  cursor: pointer;
}

.nav a:hover svg > * {
  stroke: #818cf8;
  fill: #818cf8;
}

.nav button:hover svg > * {
  stroke: #818cf8;
}

.nav a.active svg > * {
  stroke: #818cf8;
  fill: #818cf8;
}

.nav button {
  border-bottom: none;
}

.mobileButton {
  background: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
}

.mobileButton::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background-color: currentColor;
  box-shadow:
    0 6px currentColor,
    0 -6px currentColor;
  transition: 0.1s;
}

.mobileButton:focus,
.mobileButton:hover,
.mobileButtonActive {
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px #a5b4fc;
  border-color: #6366f1;
  color: #6366f1;
}

.mobileButtonActive:after {
  transform: rotate(-90deg);
  width: 4px;
  height: 4px;
  box-shadow:
    0 8px currentColor,
    0 -8px currentColor;
}

@media (min-width: 480px) {
  .nav {
    top: 195px;
    right: 22px;
  }
}

@media (min-width: 640px) {
  .mobileButton,
  .mobileButton::after {
    display: none;
  }

  .nav {
    display: flex;
    gap: 0.5rem;
    /* reset */
    opacity: 1;
    position: initial;
    padding: initial;
    background: none;
    box-shadow: initial;
    border-radius: initial;
    transform: initial;
    pointer-events: initial;
  }

  .nav a,
  .nav button {
    background: #e2e8f0;
    border-radius: 0.2rem;
    height: 40px;
    width: 40px;
    justify-content: center;
    border: 1px solid transparent;
    transition: 0.2s;

    /* reset */
    padding: initial;
  }

  .nav a:hover,
  .nav button:hover {
    background: white;
    box-shadow: 0 0 0 3px #e2e8f0;
    border-color: #1e293b;
    outline: none;
  }

  /* Reset */
  .nav a:hover svg > * {
    stroke: currentColor;
    fill: currentColor;
  }
  /* Reset */
  .nav button:hover svg > * {
    stroke: currentColor;
  }

  /* Reset */
  .nav a.active {
    background: white;
    box-shadow: 0 0 0 3px #a5b4fc;
    border-color: #6366f1;
  }
  /* Reset */
  .nav a.active svg > * {
    stroke: #818cf8;
    fill: #818cf8;
  }
}
